.pun{
  font-family: impact;
font-size: 25px;}

  .pdeux{ font-family: impact;
  font-size: 25px;}
  .ptrois{ font-family: impact;
  font-size: 25px;}


.linka{color:blue;
font-weight: bold;
text-decoration: none;}


.hun{color:blue;}
