.hun{
  font-weight: bold;
text-align: center;
color:blue;
background-color: gray;
border-radius: 5px;
width: 500px;
margin: auto;
box-shadow: 4px 4px 0px black; }


body{background-color: #E8E8E8;}
.pun{
  font-family: impact;
font-size: 25px;}

  .pdeux{ font-family: impact;
  font-size: 25px;}


  .linka{color:blue;
  font-weight: bold;
  text-decoration: none;}


a[href*=https] {
  color: blue;
  font-weight: bold;
}
.linka:hover{
  text-decoration: none;
}
.linkb{
  color:blue;
  text-decoration: none;
}
